.logo {
    height: 90px;
    width: auto;
}

.logo-wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: -80px;
    margin-bottom: 30px;
}

.signInHeading {
    text-align: center;
}

.or-text {
    text-align: center;
}

.sign-up-link {
    margin-bottom: 20px;
    text-align: center;

}